{% extends 'core/base.html' %}

{% block content %}
<table align="center" style="width: 70%; padding: 10px;">
    <tr>
        <th style="width: 4%; border-left: none;">№</th>
        <th style="width: 32%;">Пользователь</th>
        <th style="width: 32%;">Всего опросов</th>
        <th style="width: 32%;">Дата регистрации</th>
    </tr>
    {% for creator in creators %}
        <tr>
            <td style="border-left: none;">{{ forloop.counter }}</td>
            <td class="link"><a href="{% url 'creator' id=creator.id %}" class="text">{{ creator }}</a></td>
            <td>{{ creator.polls.count }}</td>
            <td>{{ creator.dr }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}