<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1 align="center">
    Система опросов
</h1>
<h3 align="center">
    Функционал:<br />
</h3>
<p align="left">
    1) Создание опроса<br />
    Пользователь может задать тему опроса и составить несколько вариантов ответа.<br />
    2) Участие в опросах и просмотр их результатов<br />
    Пользователь может участвовать в опросах, а также просматрировать их результат.<br />
    В конце опроса пользователю будет продемонстрирован результат.<br />
    <br />
</p>

<h3 align="center">
    Возможные корректировки/улучшения:<br />
</h3>
<p align="left">
    1) Добавление тестов<br />
    Пользователь будет выбирать кол-во вопросов и для каждого вопроса выбирать кол-во ответов.<br />
    2) Cначала кол-во ответов/вопросов при создании опроса/теста будет фиксировано,<br />
    но в будущем попробую запрашивать кол-во вариантов ответов/вопросов у пользователя.<br />
</p>

</body>
</html>