<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1 align="center">
    Система опросов
</h1>
<h3 align="center">
    Функционал:<br />
</h3>
<p align="left">
    1) Создание опроса<br />
    Пользователь может задать тему опроса, составить вопросы и указать ответы на эти вопросы.<br />
    2) Участие в опросах и просмотр их результатов<br />
    Пользователь может участвовать в опросах, а также просматрировать их результат.<br />
    <br />
</p>

</body>
</html>